PORT=4000

FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:4000

MONGO_URL=mongodb+srv://<username>:<password>@<cluster-url>/<database>?appName=<app-name>

COOKIE_EXPIRE=7

JWT_SECRET=your_jwt_secret_here
JWT_EXPIRE=7d

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your_email@gmail.com
SMTP_PASSWORD=your_app_password_here
SMTP_SERVICE=gmail
